
<!--Rezept Name-->
    <div class="row d-flex justify-content-start align-items-center row-margin">
        <div class="col-8">
            <h2>Griechischer Salat</h2>
        </div>
    </div>
<!--Rezept Bild-->
    <div class="row row-margin">
        <div class="col-10 food-img-nils">
        </div>
    </div>
<!--icons-->
    <div class="row row-margin d-flex justify-content-start">
        <div class="col-1 d-flex justify-content-center align-items-center icons-container-nils">
            <img src="./img/icons/clock-regular.svg" alt="">
        <span>15 Mins.</span>
        </div>
        <div class="middle-icon col-1 d-flex justify-content-center align-items-center icons-container-nils">
            <img src="./img/icons/brain-solid.svg" alt="">
            <span>easy</span>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center icons-container-nils">
            <img src="./img/icons/calendar-alt-regular.svg" alt="">
            <span>5/10/2021</span>
        </div>

    </div>
<!--Table header-->
    <div class="row d-flex justify-content-start align-items-center table-head-margin">
        <div class="col-1"> <span>Zutaten für</span>
        </div>
        <input type="number" placeholder="4" class="input-nils" id="input">
        <div class="col-1"><button onclick="calc()" class="nils-button">Portionen</button></div>
    </div>
    

 <!--Table body-->  
 <table>
    <tr>
    <td id="0" class="unit">1</td>
    <td class="ingredient">Salzgurke</td>
</tr>
<tr>
    <td id="1" class="unit">2</td>
    <td class="ingredient">Paprikaschoten,rot und grün</td>
</tr>
<tr>
    <td id="2" class="unit">500g</td>
    <td class="ingredient">Tomate</td>
</tr>
<tr>
    <td id="3" class="unit">1</td>
    <td class="ingredient">Salzgurke</td>
</tr>
<tr>
    <td id="4" class="unit">2</td>
    <td class="ingredient">Paprikaschoten,rot und grün</td>
</tr>
<tr>
    <td id="5" class="unit">500g</td>
    <td class="ingredient">Tomate</td>
</tr>
<tr>
    <td id="6" class="unit">1</td>
    <td class="ingredient">Salzgurke</td>
</tr>
<tr>
    <td id="7" class="unit">2</td>
    <td class="ingredient">Paprikaschoten,rot und grün</td>
</tr>
<tr>
    <td id="8" class="unit">500g</td>
    <td class="ingredient">Tomate</td>
</tr>
</table>

<!--Zubereitung header-->
    <div class="row d-flex justify-content-start align-items-center row-margin">
        <div class="col-8">
            <h2>Zubereitung</h2>
        </div>
    </div>
<!--Zubereitung icons-->    
    <div class="row row-margin d-flex justify-content-start">
        <div class="col-1 d-flex justify-content-center align-items-center icons-container-nils">
            <img src="./img/icons/clock-regular.svg" alt="">
        <span>15 Mins.</span>
        </div>
        
        <div class="col-1 d-flex justify-content-center align-items-center icons-container-nils middle-icon">
            <img src="./img/icons/clock-regular.svg" alt="">
            <span>25 Mins</span>
        </div>

    </div>
<!--Zubereitung body-->
<p class="para-nils">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius vero delectus culpa distinctio officia! Illo at minima provident odio reiciendis, modi facilis delectus vero, laboriosam in autem quasi unde nostrum. Obcaecati, est. Numquam dolore distinctio, delectus maiores nobis ratione dolores sapiente enim impedit inventore, pariatur laborum! Quaerat doloremque aliquid in.</p>
<!--rezept autor--> 
<div class="row d-flex justify-content-start align-items-center row-margin">
    <div class="col-8">
        <h4>Rezept erstellt von:</h4>
    </div>
   
</div>
 <!--autor icon und ifo-->
 <div class="row table-row-margin d-flex justify-content-start align-items-center ">
     <div class="col-2 profile-pic"><img src="./img/profile.png" alt=""></div>
     <div class="col-2">Nils</div>
 </div>















</body>



</html>