<div id="content-start">
    <div class="first-row">
        <div>
            <a href="#"><img src="./img/croissant.jpg"></a>
        </div>
        <div class="produktinfo">
            <h2>Französische Croissants</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis quisquam voluptates expedita atque
                magnam odit ab eligendi quaerat harum ut quo consequuntur beatae, quos ipsam dolores incidunt
                voluptatibus deserunt aperiam?</p>
                <a class="button-green" href="#">Rezept öffnen</a>
            </div>
</div>

<div class="second-row bg-lightgrey">

 
     <h2>Lust auf was neues?</h2>

 <div class="three-pic-row">
     <div class="img-container"><a href="./nils.html"><img src="./img/croissant.jpg" alt=""><span>Link zu diesem gericht</span></a></div>
     <div class="img-container"><a href="./florian.html"><img src="./img/florian/sivis-semmelknoedel.jpg" alt="Bild von ein paar Semmelknödel"><span>Florians Semmelknödel</span></a></div>
     <div class="img-container"><a href="./wolfram.html"><img src="./img/wolfram/kaesespaetzle.jpg" alt="Bild eines Topfes Käsespätzle"><span>Wolles Käsespätzle</span></a></div>
 </div>
</div>
<div class="third-row">
    <h2>Pfanne vs. Vok - Was ist besser?</h2>
    <div class="third-row-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo excepturi harum aliquam numquam cupiditate quam eius deleniti, assumenda nihil voluptatum, aut molestias. Magnam nulla ipsum asperiores corrupti illum quos ut.</p>
        <img src="./img/wok.jpg" alt="">
    </div>
</div>



    
</div>