<div class="content-recipe">
    <div class="header-recipe">
        <div>
            <h1>Käsespätzle nach Wolframs Rezept</h1>
        </div>
        <div class="header-recipe-img"><img src="./img/wolfram/cheese-noodles-g70a5e500c_1280.jpg" alt="Bild von Käsespätzle"></div>
        <div>
            Backzeit Anspruch Datum
        </div>
    </div>
    <div class="content-recipe-number" >
        <p>Zubehör für <input> </p>
        <a class="button-green" href="#">Rezept öffnen</a>
    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>
</div>